.plate {
    background-color: lightgreen;
}
#k01 {
    background-color: slategray;
    color: white;
}
#k02{
    background-color: rgb(252, 126, 195);
    color: white;
}
#k03{
    background-color: rgb(0, 71, 142);
    color: white;
}
